.products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 25rem;
    padding: 2rem;
    margin: 2rem auto 1rem auto;
    box-shadow: .25rem .25rem 1rem .25rem rgb(99, 98, 98);
    border-radius: 1rem;
    max-height: 35rem;
    background-color: white;
}

.products:hover {
    scale: 1.02;
    transition: 200ms ease-in-out;
}

.product-img {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.productsTitle {
    
    color: blue;
}

.productsCategory {
    text-transform: capitalize;
}